
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var total = 0;
}

@foreach (var orden in ViewBag.Detalles)
{
    total += orden.Total;
}

<form method="post" asp-controller="Compras" asp-action="Index">
    <button type="submit" class="btn-crear-posicion estilo-btn-naranja">Regresar</button>
</form>
<div class="mt-4 border rounded bg-white" style="max-height: 677px; overflow-y: auto;">
    <table class="table mb-0 table-bordered table-striped">
        <thead class="table-warning">
            <tr>
                <td>Insumo</td>
                <td>Cantidad</td>
                <td>Medida</td>
                <td>Precio</td>
                <td>idCompra</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var orden in ViewBag.Detalles)
            {
                <tr>
                    <td>@orden.NomInsumo</td>
                    <td>@orden.Cantidad</td>
                    <td>@orden.Medida</td>
                    <td>@(orden.PrecioInsumo % 1 == 0 ? orden.PrecioInsumo.ToString("C0").Replace(",", ".") : orden.PrecioInsumo.ToString("C2").Replace(",", "."))</td>
                    <td>@orden.IdCompra</td>
                </tr>
            }
        </tbody>
    </table>
</div>



<div class="alert alert-dark mt-2 d-flex justify-content-between align-items-center">
    <span>Total compra: @(ViewBag.TotalCompra % 1 == 0 ? ViewBag.TotalCompra.ToString("C0").Replace(",", ".") : ViewBag.TotalCompra.ToString("C2").Replace(",", "."))</span>
</div>