@model IEnumerable<PF_Pach_OS.Models.Receta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CantInsumo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInsumoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProductoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CantInsumo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdInsumoNavigation.IdInsumo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProductoNavigation.IdProducto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdReceta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdReceta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdReceta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
